{
  "plugins": [
    "stylelint-scss",
    "stylelint-order"
  ],
  "customSyntax": "postcss-scss",
  "rules": {
     "indentation": 2,
      "string-quotes": "single",
      "no-duplicate-selectors": true,
      "color-hex-case": "lower",
      "color-hex-length": "short",
      "selector-no-qualifying-type": true,
      "selector-combinator-space-after": "always",
      "declaration-block-trailing-semicolon": "always",
      "declaration-no-important": true,
      "declaration-colon-space-before": "never",
      "declaration-colon-space-after": "always",
      "number-leading-zero": "always",
      "function-url-quotes": "always",
      "rule-empty-line-before": "always",
      "selector-pseudo-class-parentheses-space-inside": "always",
      "media-feature-range-operator-space-before": "always",
      "media-feature-range-operator-space-after": "always",
      "media-feature-parentheses-space-inside": "always",
      "media-feature-colon-space-before": "never",
      "media-feature-colon-space-after": "always",
      "declaration-block-no-duplicate-properties": true,
      "value-list-max-empty-lines":0,
      "order/properties-order": [
        {
      		"groupName": "position",
      		"emptyLineBefore": "never",
      		"properties": [
            "position",
            "z-index",
      			"top",
      			"bottom",
      			"left",
      			"rigth"
      		]
      	},
        {
      		"groupName": "display",
      		"emptyLineBefore": "always",
      		"properties": [
            "display",
            "grid-after",
            "grid-area",
            "grid-auto-columns",
            "grid-auto-flow",
            "grid-auto-rows",
            "grid-before",
            "grid-column",
            "grid-column-end",
            "grid-column-gap",
            "grid-column-start",
            "grid-columns",
            "grid-end",
            "grid-gap",
            "grid-row",
            "grid-row-end",
            "grid-row-gap",
            "grid-row-start",
            "grid-rows",
            "grid-start",
            "grid-template",
            "grid-template-areas",
            "grid-template-columns",
            "grid-template-rows",
            "flex-basis",
            "flex-direction",
            "flex-flow",
            "flex-grow",
            "flex-shrink",
            "flex-wrap",
            "align-content",
            "align-items",
            "align-self",
            "justify-content",
            "order"
      		]
      	},
      	{
      		"groupName": "box-model",
      		"emptyLineBefore": "always",
      		"properties": [
      			"width",
            "min-width",
            "max-width",
            "height",
            "min-height",
            "max-height",
            "block-size",
            "min-block-size",
            "max-block-size",
            "inline-size",
            "min-inline-size",
            "max-inline-size",
      			"margin",
      			"margin-top",
      			"margin-right",
      			"margin-bottom",
      			"margin-left",
      			"padding-top",
      			"padding-right",
      			"padding-bottom",
      			"padding-left"
      		]
      	},
      	{
      		"groupName": "typoghraphy",
      		"emptyLineBefore": "always",
      		"properties": [
            "color",
      			"font",
            "font-family",
            "font-size",
            "font-size-adjust",
            "font-smoothing",
            "font-stretch",
            "font-style",
            "font-variant",
            "font-weight",
            "font-emphasize",
            "font-emphasize-position",
            "font-emphasize-style",
            "letter-spacing",
            "line-height",
            "list-style",
            "text-align",
            "text-align-last",
            "text-decoration",
            "text-decoration-color",
            "text-decoration-line",
            "text-decoration-style",
            "text-indent",
            "text-justify",
            "text-overflow",
            "text-overflow-ellipsis",
            "text-overflow-mode",
            "text-rendering",
            "text-outline",
            "text-shadow",
            "text-transform",
            "text-wrap",
            "word-wrap",
            "word-break",
            "vertical-align",
            "white-space",
            "word-spacing",
            "hyphens"
      		]
      	},
        {
      		"groupName": "visual",
      		"emptyLineBefore": "always",
      		"properties": [
      			"opacity",
            "background",
            "background-attachment",
            "background-clip",
            "background-color",
            "background-image",
            "background-repeat",
            "background-position",
            "background-size",
            "box-shadow",
            "fill",
            "overflow",
            "overflow-x",
            "overflow-y"
      		]
      	},
        {
      		"groupName": "list and table",
      		"emptyLineBefore": "always",
      		"properties": [
            "table-layout",
            "empty-cells",
            "caption-side",
            "border-spacing",
            "border-collapse",
            "list-style",
            "list-style-position",
            "list-style-type",
            "list-style-image"
      		]
      	},
        {
      		"groupName": "other",
      		"emptyLineBefore": "always",
      		"properties": [
            "tab-size",
            "counter-reset",
            "counter-increment",
            "resize",
            "cursor",
            "pointer-events",
            "speak",
            "user-select",
            "nav-index",
            "nav-up",
            "nav-right",
            "nav-down",
            "nav-left"
      		]
      	}
      ]
   }
}