.item {
  position: relative;
  padding-left: 5px;
  img {
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .popup {
    position: absolute;
    width: 250px;
    max-height: 200px;
    margin-left: 10px;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid black;
    border-radius: 12px;

    ul {
      margin-left: 10px;
      list-style: none;
    }
  }
}
