.wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 40px;

  .spellWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 32px;
    text-align: center;
    margin-right: 5px;

    .spellButton {
      width: 30px;
      height: 20px;

      button{
        width: 30px;
      }
    }

    .spell {
      position: absolute;
      margin: 20px 0px 0px 0px;

      img {
        height: 32px;
      }
    }
  }
}
