.wrapper {
  display: flex;
  flex-direction: row;

  margin-left: 40px;

  .spellWrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 32px;
    margin-right: 5px;

    text-align: center;

    .spellButton {
      width: 30px;
      height: 20px;

      button{
        width: 30px;
      }
    }

    .spell {
      position: absolute;

      margin: 20px 0px 0px 0px;

      img {
        height: 32px;
      }
    }
  }
}
