.wrapper {
  margin-top: 25px;

  .table {
    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: #f8f8f8;

    thead {
      tr {
        border-bottom: 1px solid black;
        background-color: lightyellow;

        td {
          text-align: center;

          &:first-child {
            border-right: 1px solid black;
          }
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid black;

        td {
          height: 30px;
          width: 60px;
          text-align: center;
          border-right: 1px solid black;

          &:first-child {
            width: 110px;
            background-color: lightyellow;
          }
        }
      }
    }
  }
}
