.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: lightgray;
  .content {
    height: 100vh
  }
  .footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }
}
