.wrapper {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  overflow-y: scroll;
  height: calc(100vh - 120px);

  .content {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
  }
}
