.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px - 40px);
  background-color: lightgray;

  .itemsList {
    display: flex;
    flex-flow: column wrap;
    height: 300px;
  }

  .stats {
    margin-left: 10px;
    padding: 20px;

    ul {
      list-style: none;
    }
  }
}
