.wrapper {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  overflow-y: scroll;
  height: calc(100vh - 120px);
  .itemsList {
    display: flex;
    flex-flow: column wrap;
    height: 300px;
  }

  .stats {
    margin-left: 10px;
    padding: 20px;

    ul {
      list-style: none;
    }
  }
  .content {
    display: flex;
    flex-direction: row;
  }
}
