.wrapper {
  margin-top: 25px;

  .table {
    background-color: #f8f8f8;

    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid black;

    thead {

      tr {
        border-bottom: 1px solid black;

        background-color: lightyellow;

        td {
          text-align: center;

          &:first-child {
            border-right: 1px solid black;
          }
        }
      }
    }

    tbody {

      tr {
        border-bottom: 1px solid black;

        td {
          width: 60px;
          height: 30px;

          text-align: center;
          border-right: 1px solid black;

          &:first-child {
            width: 110px;

            background-color: lightyellow;
          }
        }
      }
    }
  }
}
